* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.teste {
    background-color: aqua;

}
.cabeçalho {
    display:flex;
    justify-content:flex-start;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: auto;
    border-bottom: 2px solid #000000;
    box-shadow: 2px 2px 5px 2px hsla(0, 0%, 0%, 0.397);
}

.cabeçalho img {
    width: 200px;
    margin-left: 10%;
    height: auto;
}

.grid-container {
    margin-top: 59px;
    display: grid;
    grid-template-columns: 1fr 2fr 7fr 1fr;
    background-color: rgb(255, 255, 255);
}

.quad01 {
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.quad02 {
    background-color: rgb(12, 161, 147);

}
.quad03 {
    display: block;
    background-color: rgb(255, 255, 255);
    padding: 10px;


}

.quad04 {
    background-color: rgb(250, 250, 250);
    padding: 10px;
}

.menu {
    padding: 1.2vh;
    border-top: 2px #ffffff solid;

}

.menu-espaco {
    padding: 10px;
    border-top: 2px #ffffff solid;

}

.menu h5 {
    display: flex;
    justify-content: left;
    margin-left: 3vh;
    color: white;
    font-size: clamp(15px, 1.2vw, 25px);
    text-wrap: nowrap;
}

.menu a {
    text-decoration: none;
}

.menu:hover{
    background-color:  rgb(0, 199, 180);
}

.rodape{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: rgb(12, 161, 147);
    margin-top: 20px;
    padding: 50px;
    width: 100%;
}

.imagem img{
    min-width: 50px; 
    max-width: 200px;
    width: 100%;
}

.contato {
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.contato h5 {
    /* Garante que a fonte encolha um pouco em telas menores */
    font-size: clamp(12px, 1.2vw, 25px);
    margin-right: 20px;
}

.redes{
    color: white;
    margin-left: 20px;
}

.icones-redes{
    color: white;
    display: flex;
    justify-content: center;
}

.redes h5{
        font-size: clamp(12px, 1.5vw, 24px);
}

.icones-redes i {
    margin: 0 5px; /* Espaço entre os ícones */
    font-size: clamp(12px, 1.5vw, 30px); 
}

.mes {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.receitas {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 3px 3px 5px 3px #CCC;
    border-radius: 10px;
    margin-bottom: 50px;
    background-color:rgb(12, 161, 147);    
    color: white;
    
}

.dividas {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 3px 3px 5px 3px #CCC;
    border-radius: 10px;
    margin-bottom: 50px;
    background-color:rgb(12, 161, 147);    
    color: white;
}


.investimento {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    box-shadow: 3px 3px 5px 3px #CCC;
    border-radius: 10px;
    margin-bottom: 50px;
    background-color:rgb(12, 161, 147);    
    color: white;
    
}   

.dividas h1,.investimento h1, .receitas h1 {
    display: flex;
    font-size: clamp(20px, 1.5vw, 30px); 
    align-items: center;
    
}

.Saldo h4, .Saldo h5 {
    font-size: clamp(15px, 1.5vw, 30px); 
    
}

.tipos-de-gastos {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    padding: 30px;
    box-shadow: 3px 3px 5px 3px #CCC;
    background-color:rgb(12, 161, 147);
    border-radius: 10px;
     
}
.icones {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-shrink: 1;
    padding: 22px;
    min-width: 200px;
    
}
.icones i {
    margin: 0 5px; /* Espaço entre os ícones */
    font-size: clamp(20px, 1.5vw, 30px); 
}

.quad03 h3 {
    text-align: center;
    margin-bottom: 10px;
}

@media screen and (max-width: 376px) {
.receitas{
    margin-bottom: 10px;
}

.menu , .menu-espaco{
    border-top: 1px solid #ffffff;
}
.menu h5{
    display: flex;
    font-size: 10px;
    white-space: nowrap;
    margin-left: 2px;

    }

.dividas, .receitas, .investimento {
    margin-bottom: 10px;
    align-items: center;
}

.dividas h1,.investimento h1, .receitas h1 {
    font-size: 20px;
    
}

.Saldo h4, .Saldo h5 {
    font-size: 15px;
    align-items: center;
    text-align: center;
}
.tipos-de-gastos{
    padding: 0px;
}
.icones{
    padding: 20px;
}
.icones h4 , .icones h5{
    font-size: 15px;
}
}

@media screen and (max-width: 450px) {
.receitas{
    margin-bottom: 10px;
}

.menu , .menu-espaco{
    border-top: 1px solid #ffffff;
}
.menu h5{

    font-size: 15px;
    white-space: nowrap;
    margin-left: 2px;
    }

.dividas, .receitas, .investimento {
    margin-bottom: 10px;
    align-items: center;
    
}

.dividas h1,.investimento h1, .receitas h1 {
    font-size: 20px;
    
}

.Saldo h4, .Saldo h5 {
    font-size: 15px;
    align-items: center;
    text-align: center;
}
.tipos-de-gastos{
    padding: 0px;
}
.icones{
    padding: 20px;
}
.icones h4 , .icones h5{
    font-size: 15px;
}
}